h1 {
  color: rgb(209, 10, 223);
  font-style: italic;
  text-align: center;
  font-family: monospace;
}

h3 {
  color: rgb(209, 10, 223);
  font-style: italic;
  text-align: center;
  font-family: monospace;
}

p {
  text-align: center;
}

.skill-header {
  color: rgb(209, 10, 223);
  text-align: left;
  font-style: italic;
  font-family: monospace;
}
.skill-container {
  border: solid rgb(209, 10, 223);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}
